<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor's History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}" class="home-icon" title="Home">&#8962;</a> 
            <div class="nav-links">
                <a href="{{ url_for('prediction_page') }}" class="{% if current_page == 'predict' %}active{% endif %}">Predict</a>
                <span class="separator">|</span>
                <a href="{{ url_for('history') }}" class="{% if current_page == 'history' %}active{% endif %}">History</a>
            </div>
        </nav>
    </header>

    <table>
    <tr>
        <th>Image</th>
        <th>Prediction Results</th>
        <th>Confidence</th>
        <th>Predicted on</th>
        <th>Feedback</th>
    </tr>
    {% for row in history %}
    <tr>
        <td><img src="{{ row.image_bytes }}" style="width:100px;"></td>
        <td>{{ row.label }}</td>
        <td>{{ row.confidence | round(2) }}</td>
        <td>{{ row.timestamp }}</td>
        <td>{{ row.feedback }}</td>
    </tr>
    {% endfor %}
    </table>

</body>

</html>