<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor's History</title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('prediction_page') }}">Prediction</a>
            <a href="{{ url_for('history') }}">History</a>
        </nav>
    </header>

    <table>
    <tr>
        <th>Image</th>
        <th>Prediction Results</th>
        <th>Confidence</th>
        <th>Predicted on</th>
    </tr>
    {% for row in history %}
    <tr>
        <td><img src="data:image/jpeg;base64,{{ row.image_bytes }}" width="100"></td>
        <td>{{ row.label }}</td>
        <td>{{ row.confidence | round(2) }}</td>
        <td>{{ row.timestamp }}</td>
    </tr>
    {% endfor %}
    </table>

</body>

</html>