<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Traffic Monitoring</title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}" class="home-icon" title="Home">&#8962;</a> 
            <div class="nav-links">
                <a href="{{ url_for('prediction_page') }}" class="{% if current_page == 'predict' %}active{% endif %}">Predict</a>
                <span class="separator">|</span>
                <a href="{{ url_for('history') }}" class="{% if current_page == 'history' %}active{% endif %}">History</a>
                <span class="separator">|</span>
                <a href="{{ url_for('traffic') }}" class="{% if current_page == 'traffic' %}active{% endif %}">Traffic Monitoring</a>
            </div>
        </nav>
    </header>
    
    <div>
        <h2>Kubernetes Pod Traffic Monitoring</h2>
        <a href="http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/#/settings?namespace=default" target="_blank" class="dashboard-display">
        <img src="{{ url_for('static', filename='k8s_logo.png') }}" style="width:50%; max-width:100px;">
        </a>

        <!-- <iframe src="https://www.example.com" width="800" height="600" title="Embedded Website"></iframe> -->
    
    </div>

</body>

</html>