<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Predictor!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}" class="home-icon" title="Home">&#8962;</a> 
            <div class="nav-links">
                <a href="{{ url_for('prediction_page') }}" class="{% if current_page == 'predict' %}active{% endif %}">Predict</a>
                <span class="separator">|</span>
                <a href="{{ url_for('history') }}" class="{% if current_page == 'history' %}active{% endif %}">History</a>
                <span class="separator">|</span>
                <a href="{{ url_for('traffic') }}" class="{% if current_page == 'traffic' %}active{% endif %}">Traffic Monitoring</a>
            </div>
        </nav>
    </header>
    
    <section class="intro">
        <div class="intro-content">
            <h1>AI Image Detector</h1>
            <p>Detect whether an image is AI-generated or real in seconds.</p>
        </div>

        <div class="intro-button">
            <a href="{{ url_for('predict') }}">Start Prediction Here!</a>
        </div>
    </section>

</body>

</html>