body {
    background-image: url(background.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: fill;
    text-align: center;
    color: white;
    border-color: 3px solid red;
    align-items: center;
}


.start-btn{
    text-decoration: none;
    font-size: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 30px 0;
    height: 60px;
}

/* Home icon on left */
nav .home-icon {
    position: absolute;
    left: 70px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

nav .home-icon:hover {
    color: #ff9be1;
}

/* Center container for links */
nav .nav-links {
    display: flex;
    gap: 30px;
}

nav .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
}

nav .nav-links a.active {
  font-weight: bolder;
  color: #FFD700;  
}

nav .nav-links a:hover {
    color: #ffa8e5;
}

nav .nav-links a:visited, nav .nav-links a:link {
    text-decoration: none;
    color: white;
}

.intro-content {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.intro-button {
    padding: 30px;
    font-size: 30px;
}

.intro-button a {
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bolder;
    text-decoration: none;
}   

.upload-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview {
    margin-top: 15px;
    margin-bottom: 20px;
}


input[type="file"] {
  /* Hide the default filename text */
  color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
  color: initial; /* show button text */
}

table {
    background-color: rgba(79, 78, 78, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;  
    max-width: 1200px;
}